:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.text-center {
  text-align: center;
}
.mr-5 {
  margin-right: 5px;
}

/* table  */
.table-head {
  background-color: #0f9ed5;
  color: white;
}
.table-head th {
  border-bottom: 4px solid white;
  padding: 10px 0;
}
.table-body tr:nth-child(even) {
  background-color: #e7f0f7;
}
.table-body tr:nth-child(odd) {
  background-color: #ccdfef;
}
.table-body tr td {
  text-align: center;
  padding: 5px 0;
  min-width: 70px;
}

/* navigation */

.navigation-container {
  background-color: #83cbeb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 20px;
}

.navigation-container .header {
  background-color: #c1e5f5;
  height: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: bold;
}

/* button */
.button-container {
  background-color: #83cbeb;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: 1px solid #4472c4;
  cursor: pointer;
}

/* searchbar */
.search-bar {
  border: 3px solid #82c9e9;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.ant-select-selector {
  border: 0 !important;
}

/*
a:hover {
  color: #535bf2;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
